{% extends "GSETransactionBundle::layout.html.twig" %}

{% block gs_etransaction_body %}
    {{ parent() }}

    <h2>Supprimer une config</h2>

    <p>
        Etes-vous certain de vouloir supprimer la config "{{ config.name }}" ?
    </p>

    <form action="{{ path('delete_config', {'id': config.id}) }}" method="post">
        <a href="{{ path('view_config', {'id': config.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la config
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
