{% extends "GSETransactionBundle::layout.html.twig" %}

{% block gs_etransaction_body %}
    {{ parent() }}

    <h2>Liste des config</h2>

    <ul>
        {% for config in listConfigs %}
            <li>
                {{ config.name }}
                <a href="{{ path('gs_etran_view_config', {'id': config.id}) }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Voir
                </a>
                <a href="{{ path('gs_etran_edit_config', {'id': config.id}) }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier
                </a>
                <a href="{{ path('gs_etran_delete_config', {'id': config.id}) }}" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
                </a>
            </li>
        {% else %}
            <li>Pas (encore !) de config</li>
        {% endfor %}
    </ul>

{% endblock %}
