{% extends "GSETransactionBundle::layout.html.twig" %}

{% block gs_etransaction_body %}
    {{ parent() }}

    <h2>{{ config.name }}</h2>

    <p>
        <a href="{{ path('gs_etran_index_config') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour aux configs
        </a>
        <a href="{{ path('gs_etran_edit_config', {'id': config.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier la config
        </a>
        <a href="{{ path('gs_etran_delete_config', {'id': config.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer la config
        </a>
    </p>

{% endblock %}
